site_name: 給外行人的現代 Python 開發指南

nav:
  - 1. 關於本書: index.md
  - 2. 在正式開始之前: setup.md
  - 3. Python 中最重要的四個型別: datatypes.md
  - 4. 如何使用 Python 套件: import_packages.md
  - 5. 什麼是變數: variables.md

theme:
  name: material
  palette:
    # Palette toggle for light mode
    - scheme: default
      primary: blue
      accent: blue
      toggle:
        icon: material/brightness-7
        name: 切換到深色模式
    
    # Palette toggle for dark mode
    - scheme: slate
      primary: blue
      accent: blue
      toggle:
        icon: material/brightness-4
        name: 切換到淺色模式
  
  features:
    # - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - search.highlight
    - search.share 